@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A;
}

h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #FFFFFF;
}

#nav {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #FFFFFF;
}

#intro {
  font-size: 50px;
  color: #FFFFFF;
}

/* */
$extra__color-0: #fff; // #ff6ec4
$extra__color-1: #f3fefe; // #00c9ff
$extra__color-2: #101010;
$extra__color-3: #1a1a1a;
$extra__color-4: #e6e6e6;


.teaser-element-container {
  --teaser__icon__color: #{$extra__color-4};
  $border-radius: 12px;
  margin-bottom: 40px;
  width: 75%;
  height: calc(100% - 40px);
  padding: 35px 30px;
  position: relative;
  border-radius: $border-radius;
  background-color: $extra__color-2;
  transition: background 0.45s;
  .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    font-family: "Clash Display", sans-serif;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 22px;
    color: $extra__color-4;
  }
  p {
    width: 85%;
    font-family: "Satoshi", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $extra__color-4;
  }

  &::before {
    content: "";
    display: block;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: $border-radius;
    inset: -1px;
    position: absolute;
    z-index: -2;
    right: -1px;
    top: -1px;
    bottom: -1px;
    left: -1px;
    user-select: none;
    pointer-events: none;

    transition: background 0.2s;
    will-change: background;
    contain: size;
    background: radial-gradient(
      300px circle at var(--x__mouse__coordinate) var(--y__mouse__coordinate),
      $extra__color-0 0,
      $extra__color-1 50%,
      transparent 100%
    );
  }

  &:hover {
    background-color: $extra__color-3;
  }
}

//
//  koby.dev | 2022
//
//  pen template styles
